In [8]:
import pandas as pd
import numpy as np

In [36]:
df = pd.read_csv('play_tennis.csv')

In [37]:
df.drop(columns=['day'], inplace=True)

In [38]:
df

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [9]:

# Problem 1

# Outlook = Sunny, Temp = Hot, Humidity = High, Wind = Weak

# Play tennis or not ?

In [11]:

# Solution: 

# P(Yes|Sunny, Hot, High, Weak) = P(Yes|Sunny) * P(Yes|Temp=Hot) * P(Yes|Humidity=High) * P(Yes|Wind=Weak) * P(Yes)

# P(No|Sunny, Hot, High, Weak) = P(No|Sunny) * P(No|Temp=Hot) * P(No|Humidity=High) * P(No|Wind=Weak) * P(No)

In [13]:

# Training Phase 
# In training phase naive bayes just create a look up table kind of (Dictionary) in which it calculates the probability of each possibility.

In [15]:
df['play'].value_counts()

Yes    9
No     5
Name: play, dtype: int64

In [16]:
pr_yes = 9/14
pr_no = 5/14

In [17]:
print(pr_yes)
print(pr_no)

0.6428571428571429
0.35714285714285715

In [39]:
# Outlook

df['outlook'].value_counts()

# if (df[(df['outlook']=='Sunny') and (df['play']=='Yes'])).bool():
sunnyYes_df = df[(df['outlook'] == 'Sunny') & (df['play'] == 'Yes')]

In [40]:
sunnyYes_df

   outlook  temp humidity    wind play
8    Sunny  Cool   Normal    Weak  Yes
10   Sunny  Mild   Normal  Strong  Yes

In [41]:
sunnyNo_df = df[(df['outlook'] == 'Sunny') & (df['play'] == 'No')]

In [42]:
sunnyNo_df

  outlook  temp humidity    wind play
0   Sunny   Hot     High    Weak   No
1   Sunny   Hot     High  Strong   No
7   Sunny  Mild     High    Weak   No

In [43]:
# Another way to do this

In [57]:
#Outlook

pd.crosstab(df['outlook'], df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [56]:
#Temperature

pd.crosstab(df['temp'], df['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [58]:
#Humidity

pd.crosstab(df['humidity'], df['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [59]:
#Wind

pd.crosstab(df['wind'], df['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [51]:
Pr_Overcast_Yes = 4/9
Pr_Overcast_No = 0
Pr_Rainy_Yes = 3/9
Pr_Rainy_No = 2/5
Pr_Sunny_Yes = 2/9
Pr_Sunny_No = 3/5

In [52]:
Pr_Hot_Yes = 2/9
Pr_Hot_No = 2/5
Pr_Cold_Yes = 3/9
Pr_Cold_No = 1/5
Pr_Mild_Yes = 4/9
Pr_Mild_No = 2/5

In [60]:
Pr_HighHumid_Yes = 3/9
Pr_HighHumid_No = 4/5
Pr_NormalHumid_Yes = 6/9
Pr_NormalHumid_No = 1/5

In [54]:
Pr_StrongWind_Yes = 3/9
Pr_StrongWind_No = 3/5
Pr_WeakWind_Yes = 6/9
Pr_WeakWind_No = 2/5

In [66]:
# Problem 1

# Outlook = Sunny, Temp = Hot, Humidity = High, Wind = Weak

PR_YES1 = Pr_Sunny_Yes * Pr_Hot_Yes * Pr_HighHumid_Yes * Pr_WeakWind_Yes * pr_yes

In [83]:
print(PR_YES1)

0.007054673721340387

In [68]:
PR_NO1 = Pr_Sunny_No * Pr_Hot_No * Pr_HighHumid_No * Pr_WeakWind_No * pr_no

In [69]:
PR_NO1

0.02742857142857143

In [70]:
# No play.

In [73]:
# Problem 2

# Outlook = Overcast, Temp = Cold, Humidity = Normal, Wind = Strong

PR_YES2 = Pr_Overcast_Yes * Pr_Cold_Yes, Pr_NormalHumid_Yes * Pr_StrongWind_Yes * pr_yes
print(PR_YES2)

PR_NO2 = Pr_Overcast_No * Pr_Cold_No, Pr_NormalHumid_No * Pr_StrongWind_No * pr_no
print(PR_NO2)

(0.14814814814814814, 0.14285714285714285)
(0.0, 0.04285714285714286)

In [85]:
# Yes play.

In [89]:
for i in range(len([1,2,3])):
    print(i)

0
1
2